.navbar {
    background-color: #ffffff;
    height: 68px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 1336px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo img {
    width: 119px;
    height: 36px;
}

.menu ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2px;
}

.menu ul li {
    margin-right: 24px;
    font-size: 24px;
    line-height: 24px;
}

.icons img {
    margin-left: 12px;
}

.icons img:first-child {
    margin-left: 0;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 700px;
    max-width: 100%;
    padding: 0 16px;
    box-sizing: border-box;
}

.image-placeholder {
    width: 736px;
}

.image-placeholder img {
    width: 100%;
}

.content-box {
    width: 488px;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sale-banner {
    position: absolute;
    top: -32px;
    left: -32px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 96px;
    height: 96px;
    border-radius: 32px;
    border: 2px solid #000;
    background-color: #fff;
}

.sale-banner p {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter Semi Bold', sans-serif;
    color: #000;
    margin: 0;
}

.subheader {
    font-size: 16px;
    font-weight: 600;
    font-family: 'Inter Semi Bold', sans-serif;
    margin-top: 8px;
}

.description {
    font-weight: 600;
    margin-top: 16px;
}

.description:first-of-type {
    font-size: 54px;
    font-family: 'Inter Semi Bold', sans-serif;
}

.description:last-of-type {
    font-size: 18px;
    font-family: 'Inter Regular', sans-serif;
}

.description br {
    display: none;
}

.button {
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Inter Semi Bold', sans-serif;
    padding: 32px 48px;
    background-color: transparent;
    color: #000;
    text-decoration: none;
}

.button:hover {
    background-color: transparent;
    color: #000;
}

.button::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.arrows {
    width: 52px;
    height: 52px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-arrow {
    order: -1;
}

.right-arrow {
    order: 1;
}

.left-arrow img,
.right-arrow img {
    width: 100%;
}


.logos-section {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1336px;
    margin: 0 auto;
}

.arrow-left,
.arrow-right {
    width: 46px;
    height: 46px;
}

.arrow-left {
    margin-right: 20px;
}

.arrow-right {
    margin-left: 20px;
}

.logo {
    height: 80px;
    margin-right: 20px;
}

.banner-grid {
    background-color: #f7f7f7;
    padding: 50px 0;
}

.container {
    display: flex;
    justify-content: space-between;
    max-width: 1336px;
    margin: 0 auto;
}

.card {
    width: 424px;
    height: auto;
}